.modal form {
  margin: 0;
}
.modal .control-group:last-child {
  margin-bottom: 0;
}
#adminmain {
  margin-top: 20px;
  margin-left: 25px;
  width: 96%;
}
.btn.disabled, .btn[disabled] {
  opacity: 0.5;
}
.btn i {
  margin-top: 1px;
}
.btn-mini i {
  margin-top: 0;
}
.btn-mini {
  line-height:20px;
}
input	{ width: inherit!important; margin: 0 auto;}

.table input, .table select {
  margin:0;
}
.table-condensed.table-striped td {
	line-height: 26px;
}
.help-text {
  padding:5px 0;
  font-size: 0.8em;
  line-height: 1.3em;
  text-align: justify;
  color: #777;
}
.help-text.below {
  padding-top:0;
}
.separator {
  margin: 10px 0 5px 0;
  border-bottom: 1px #ddd solid;
  padding-bottom: 1px;
}
.table .progress {
  margin: 0;
  line-height: 22px;
}
.progress .amount {
  position: absolute;
  padding: 0 5px;
  font-size: 10px;
}

#options {
  list-style:none;
  margin:3px 0;
}
#options li {
  padding:2px;
}
#options i {
  margin-top:2px;
}

.logo { padding: 55px 0 0 15px; font-size: 30px; }

.textcenter th {
	text-align:center;
}
.textcenter .all_center {
	text-align:center;
}

.colum		{ text-align:center; vertical-align:middle; font-size:.9em; background-color:#ddd!important; color:#000; }

.width5		{ width:5%; }
.width10	{ width:10%; }
.width15	{ width:15%; }
.width20	{ width:20%; }
.width25	{ width:25%; }
.width30	{ width:30%; }
.width35	{ width:35%; }
.width40	{ width:40%; }
.width45	{ width:45%; }
.width50	{ width:50%; }
.width55	{ width:55%; }
.width60	{ width:60%; }
.width65	{ width:65%; }
.width70	{ width:70%; }
.width75	{ width:75%; }
.width80	{ width:80%; }
.width85	{ width:85%; }
.width90	{ width:90%; }
.width95	{ width:95%; }
.width100	{ width:100%; }

.table-conden td {
	line-height: 30px;
	padding: 2px 8px;
}

.breadcrumb{padding:8px 15px;margin:0 0 20px;list-style:none;background-color:#f5f5f5;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px}.breadcrumb>li{display:inline-block;*display:inline;text-shadow:0 1px 0 #fff;*zoom:1}.breadcrumb>li>.divider{padding:0 5px;color:#ccc}.breadcrumb>.active{color:#999}